<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a222524-f818-4668-b91b-ffd94eeb6bae/resourceGroups/DeployedRG/providers/Microsoft.Web/sites/deployedcgdemo/slots/deploycgstaging</ResourceId>
    <ResourceGroup>DeployedRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deployedcgdemo-deploycgstaging-dyb2bhh8ffgjh6bb.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e4859934-b58e-49f0-b83c-2bc0ca97a9f3</ProjectGuid>
    <MSDeployServiceURL>deployedcgdemo-deploycgstaging-dyb2bhh8ffgjh6bb.scm.eastasia-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>deployedcgdemo__deploycgstaging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$deployedcgdemo__deploycgstaging</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>